/*General*/

body {
    font-family: "Raleway", sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 20px;
}


/* Header */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav img {
    height: 50px;
    width: 120px;
}

nav ul {
    display: flex;
    list-style: none;
    color:#0065FC ;
}
nav li {
    margin: 0 10px 0 20px;
    border-top: solid 1px transparent;
}

nav li:hover {
    color:black;
    border-top: solid 1px #0065FC;
    cursor: pointer;
}
#slogan {
    font-size: 9px;
    font-weight: 700;

}

/*recherche*/
#lieu {
    font-size: 12px;
    line-height: 10px;
    opacity: 0.6;
}
#recherche {
   width: 100%;

}
#recherche-formulaire {
    display: flex;
    

}
#recherche img {
    width: 20px;
    border: solid 1px #DEEBFF;
    background-color: #F2F2F2;
    align-items: center;
    border-radius: 10px 0 0 10px;
    padding: 10px;
}
input {
    height: 50px;
    border: solid 1px #DEEBFF;
    display: inline-block;
    font-size: 15px;
   
}
.boutton {
    height: 50px;
    width: 120px;
    color: white;
    text-decoration: none;
    background-color: #0065FC;
    border-radius: 0 10px 10px 0 ;
    padding: 19px;
    
}

/*filtres*/

#filtres {
    display: flex;
    gap:  1rem;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 30px;
}
#filtres p {
    margin-right: 20px;
    font-weight: bold;
}
.varieté-filtres {
   display: flex;
   align-items: center;
   border: solid 2px #DEEBFF;
   border-radius: 50px;
   height: 45px;
   
}
.varieté-filtres i {
    color: #0065fc;
    background-color: #DEEBFF;
    border-radius: 30px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -3px;


}
.varieté-filtres i:hover {
    color: white;
    background-color: #0065FC;
}

.varieté-filtres p {
    font-weight: bold;
    padding: 1rem;

}
.varieté-filtres p:hover {
    color: #0065FC;
    transform: scale(1.02);
    cursor: pointer;
}

.info {
    display: flex;
    font-size: 12px;
    color: black ;
    opacity: 0.6;
    margin-bottom: 40px;
    
}
.info i {
   width: 20px;
   height: 20px;
   border: solid 2px #F2F2F2;
   border-radius: 25px;
   margin-right: 5px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #0065FC;


}

/*Main*/


.etoile {
    color:#0065FC ;
}


/*hebergements*/
main {
  display: flex;
  justify-content: space-around 10px;
  align-items: center;

}

#titre-hebergements {
    flex: 2;
    height: 650px;
    margin-right: 20px;
    border-radius: 10px;
    background-color: rgb(150, 150, 168);

}

#populaires {
    flex: 1;
    height: 650px;
    background-color: blue;
    border-radius: 10px;
    margin-left: 20px;

}

.img-hebergement1 {
    background-image: url(./images/hebergements/3_medium/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 120px;
}




/*footer*/
footer {
    background-color: #F2F2F2;
    height: 300px;
    margin-top: 100px;
}
#footer-items {
    display: flex;
    justify-content: space-between;

}
.footer-items {
    width: 100%;
    
}
.footer-items h3 {
    font-size: 13px;
    font-weight: 700;
}
.footer-items li {
    list-style: none;
    font-size: 12px;
    font-weight: 700;
    opacity: 0.7;
}