/*General*/

:root {
    --bleu: #0065fc;
    --bleu-clair: #DEEBFF;
    --bg-gris: #F2F2F2; 
    
}

html {
    font-family: "Raleway", sans-serif;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}


/* Header */

    /*Navbar*/

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
}

.header-image {
    margin-right: auto;
    height: 2.8rem;
    padding: 0 2rem;
}

.header-nav {
    display: flex;
    align-items: center;  
}

.header-nav-lien {
    padding: 2rem;
    font-weight: 500;
    color: var(--bleu);
    text-align: center;
    transition-duration: 0.1s;
    border-top: 3px transparent solid;
    display: flex;
    justify-content: center;
}

.header-nav-lien:hover {
    border-top: 3px solid var(--bleu);
    color: var(--bleu);
}

.header-nav-sinscrire {
    display: flex;
    align-items: center;
    padding: 2rem;
    color: var(--bleu);
    font-weight: 600;
}

.header-nav-sinscrire:hover {
    border-top: 3px solid var(--bleu);
}


@media screen and (max-width: 600px) {
    .header-nav {
        order: 1;
        flex-basis: 100%;
        text-align: center;
        border-top: solid 3px transparent;
    }
    .header-nav-lien  {
        border-top: 3px transparent solid;
        flex-basis: 50%;
        border-bottom: 3px solid var(--bg-gris);
    }
    .header-nav-lien:hover {
        border-top-color: transparent;
        border-bottom-color: var(--bleu);
    }
}


    

 /*Recherche*/

.recherche-header-titre {
    margin-bottom: 0.5rem;   
}
.recherche-header-soustitre {
    margin-top: 0;
    opacity: 0.7;
}

#recherche {
   width: 100%;
}

.recherche-formulaire {
    display: inline-flex;
    max-width: 100%;
    overflow: auto;
}

.recherche-formulaire-icone {
    background-color: var(--bg-gris);
    border-radius: 1rem 0 0 1rem;
    text-align: center;
    padding: 1rem 1.25rem;  
}

.recherche-formulaire-input {
    width: 15rem;
    font-size: 1rem;
    font-weight: bolder;
    font-family: "Raleway", "Sans serif";
    padding: 0 1.3rem;
    border-right: none;
    border-left: none;
    border-top: 1px solid var(--bg-gris);
    border-bottom: 1px solid var(--bg-gris);
    box-sizing: border-box;
    
}
.recherche-formulaire-boutton {
    background-color: var(--bleu);
    color: white;
    font-weight: bold;
    font-family: "Raleway", "Sans serif";
    font-size: 1rem;
    border: none;
    border-radius: 0 1rem 1rem 0;
    padding: 0 1.5rem;
    cursor: pointer;
}

 /*filtres*/

.filtres {
    display: flex;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.filtres-titre {
    margin: 0 1.5rem 1rem 0;
    display: flex;
    align-items: center;
}

.varieté-filtres {
    display: flex;
    align-items: center;
    margin-right: 2rem;
    border: 2px solid #d9d9d9;
    border-radius: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
    transition-duration: 0.1s;
    font-weight: bold;  
}

.varieté-filtres-icone {
    background-color: var(--bleu-clair);
    border-radius: 100%;
    height: 3rem;
    width: 3rem;
    min-height: 3.5rem;
    min-width: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -2px;
}
.varieté-filtres-icone i {
    color: var(--bleu);
}
.varieté-filtres-titre {
    margin: 0 1rem;
}

/*animation au survol des filtres*/

.varieté-filtres-titre:hover {
    color: var(--bleu);
    transform: scale(1.05);
    cursor: pointer;
}
    
    
.info {
    display: flex;
    align-items: center;
    margin: 1rem 0 2rem 0;
}
   
.info-icone {
  height: 2rem;
  width: 2rem;
  min-height: 2rem;
  min-width: 2rem;
  border: solid 1px #d9d9d9;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}
.info-icone i {
    color: var(--bleu);
}
.information-texte {
    margin: 0;
}

@media screen and (max-width: 551px) {
    
    .recherche-formulaire {
        display: flex;
        width: 100%;
    }
    .recherche-formulaire-input {
        flex: 1;
    }
    .recherche-formulaire-boutton-texte {
        display: none;
    }
    .recherche-formulaire-boutton-texte-icone{
        display: block;
    }
}
@media screen and (min-width: 550px) {
    .recherche-formulaire-boutton-texte {
        display: block;
    }
    .recherche-formulaire-boutton-texte-icone{
        display: none;
    }
    

@media screen and (max-width: 650px) {
    .recherche-header-titre {
        margin-bottom: 0.5rem;   
    }
    .recherche-header-soustitre {
        margin-top: 0;
        opacity: 0.7;
    }
    .filtres-titre  {
        width: 100%;
    }
    .varieté-filtres {
        margin-right: 1rem;
    }
}


@media screen  and (max-width: 400px) and (min-width: 350px) {
    .recherche-header-titre {
       margin: 1rem;
    }

    .recherche-header-soustitre {
       margin: 1rem 0rem 1rem 1rem; 
    }

    .filtres-titre {
        margin: 1rem 0rem 0.5rem 1rem;
        font-size: 18px;   
    }

    .varieté-filtres {
        margin-right: 0;
        margin-left: 0.8rem;
    }
    .recherche-formulaire-boutton {
        border-radius: 1rem;
        padding: 0 1.5rem;
    }
   
}


} 

/*Main*/

.main {
    max-width: 100%;
    margin: auto;
    box-sizing: border-box;
}

/*Section : Hébergements*/

.liste-hebergements {
    display: flex;  
}

.hebergements {
    flex-basis: 66%;
    border: solid 1px var(--bleu-clair);
    background-color: var(--bg-gris);
    margin-right: 2rem;
    padding: 1rem;
    border-radius: 1rem;
   
}

.liste-appartements {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 1rem;    
}

@media screen and (max-width: 800px) {
    .hebergements {
        flex-direction: column;
    }
    .populaires {
        z-index: -1;
    }
    
}

    /*Hébergements : Carte des appartements*/

.carte-appartement {
    background-color:white;
    border: solid 1px var(--bg-gris);
    height: 100%;
    min-width: 15rem;
    padding: 0.4rem;
    margin: 0.5rem;
    border-radius: 1rem;
    box-shadow: 0 0 16px #0000002e;
    cursor: pointer;  
}

.carte-appartement img {
    height: 8rem;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;     
}

.carte-appartement h3 {
    margin: 0.5rem;
}

.carte-appartement p {
    margin: 0.5rem;
}

.hebergement-suite-lien {
    margin-top: 4rem;
    font-weight: bold;
}


    /*animation au survol des cartes*/

.carte-appartement:hover {
    transform: scaleX(1.03);
}

    /*couleur des étoiles*/

 .etoile {
    color:var(--bleu) ;
}
.gris {
    color: #b3b9c4;
}


/*Section : Populaires*/

.populaires {
    flex-basis: 33%;
    border: solid 1px var(--bleu-clair);
    background-color: var(--bg-gris);
    padding: 1rem;
    border-radius: 1rem;
}

.populaire-titre {
    display: flex;
    justify-content: space-between;
}

.populaires h2, .hebergements h2 {
    margin-top: 0.5rem;
    margin-right: 0.5rem;
}

.liste-populaire-appartement {
    display: flex;
    flex-direction: column;
    align-items: center;
    
} 


     /*Populaires : Cartes des appartements*/

.carte-appartement-populaire {
    background-color:white;
    border: solid 1px var(--bg-gris);
    height: 15rem;
    width: 100%;
    max-height: 10rem;
    min-width: 15rem;
    margin: 0.5rem 1rem 2rem 1rem;
    padding: 0.25rem;
    border-radius: 1rem;
    box-shadow: 0 0 16px #0000002e;
    cursor: pointer;
}

.carte-appartement-populaire img {
    height: 10rem;
    width: 40%;
    border-radius: 1rem 0 0 1rem;
    margin-right: 0.5rem;
    object-fit: cover;
}
.carte-populaire-photo {
    display: flex;
    margin-right: 0.5rem;
    
}

.carte-populaire-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.carte-populaire-description p {
    margin-top: auto;
}
.carte-populaire-description.etoile {
    margin-bottom: auto;
}
.carte-appartement-populaire:hover {
    transform: scaleX(1.03);
}



/*attente

@media screen and (max-width: 450px) {
    .liste-hebergements {
        display: block; 
    }
     .hebergements {
        margin: 0.5rem;
        border: none;
        background-color: none; 
    }
    .populaires  {
        margin-top: 2rem;
        margin-bottom: 2rem;
        margin: 0.2rem;
        display: flex;
        flex-direction: column;
    }
    .carte-appartement {
        min-width: 22rem;
    }
    .populaires {
        order: -1;
    }
    .hebergement-suite-lien {
        margin-top: 1rem;
    }
}
*/



/*Section : Activités*/

    /*Activités : Cartes des activités*/
    
.activites {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.activites-marseille {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between; 
}

.carte-activite {
    background-color:white;
    margin-right: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 16px #0000002e;
}

.carte-activite img {
    border-radius: 1rem 1rem 0 0;
    height: 100%;
    width: 100%;
    object-fit: cover
}

.carte-activite h3 {
    margin: 1rem;
    padding: 0.5rem; 
}


.carte-activite-petit {
    background-color:white;
    margin-right: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 16px #0000002e;
}
.carte-activite-petit img {
    border-radius: 1rem 1rem 0 0;
    height: 100%;
    width: 100%;
    object-fit: cover
}
.carte-activite-petit h3 {
    margin: 1rem;
    padding: 0.5rem;
}

   /*Animation au survol des cartes */

.carte-activite:hover {
    transform: scaleX(1.03)
}


/*atente
@media screen and (max-width: 450px) {
    .activites-marseille {
        display: block;
    }
    .carte-populaire-photo {
    max-height: 10rem;
}
       .carte-activite {
        height: 13rem;
       }
       .carte-activite img{
           height: 10rem;
       }
    
}
*/


/*footer*/

.footer {
        background-color: var(--bg-gris);
        width: 100%;
}

.footer-conteneur {
        display: flex;
        max-width: 100%;
        width: 100%;
        margin: auto;
        padding: 0 2rem;
        box-sizing: border-box;
}
.footer-conteneur-colonne {
    width: 30%;
    padding: 2rem 2rem;
}

.footer-conteneur-colonne-liens {
    display: block;
    margin: 1rem 0;
}

.footer-conteneur-colonne-liens:hover {
    text-decoration: underline;
}



@media (max-width: 750px) {
    .footer-conteneur {
        flex-direction: column;
        padding: 2rem;
    }
    .footer-conteneur-colonne {
        width: 100%;
        padding: 0;
        margin: 1rem 0;
    }
    .footer-conteneur-colonne-titre {
        margin: 0;
    }
    .footer-conteneur-colonne:first-child {
        margin-top: 0;
    }
    .footer-conteneur-colonne:last-child {
        margin-bottom: 0;
    }
}


   