body {
    font-family: "Raleway", sans-serif;
    margin: 0;
    padding: 0;
}

/* header */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav img {
    height: 50px;
    width: 120px;
}

nav ul {
    display: flex;
    list-style: none;
    color:#0065FC ;
}
nav li {
    margin: 0 10px 0 20px;
}
.heber {
    border-top: solid 1px;
}

nav li:hover {
    color:black;
    border-top: none;
}


/*main*/


#slogan {
    font-size: 9px;
    font-weight: 700;

}
#lieu {
    font-size: 12px;
    line-height: 10px;
    opacity: 0.6;
}
#recherche {
   width: 100%;

}
#recherche-formulaire {
    display: flex;
    width: 55%;

}
#recherche img {
    width: 20px;
    border: solid 1px;
    background-color: #F2F2F2;
    align-items: center;
    border-radius: 3px 0 0 3px;
}
input {
    height: 40px;
    display: inline-block;
    font-size: 13px;
}
.boutton {
    color: white;
    text-decoration: none;
    background-color: #0065FC;
    border-radius: 0 10px 10px 0 ;
}




#filtres {
    display: flex;
}
.filtres {
   display: flex;
   align-items: center;
   width: 10%;
   
}
.info {
    display: flex;
    font-size: 12px;
    color: black ;
    opacity: 0.6;
}

.etoile {
    color:#0065FC ;
}


/*footer*/
footer {
    background-color: #F2F2F2;
    height: 300px;
    margin-top: 100px;
}
#footer-items {
    display: flex;
    justify-content: space-between;

}
.footer-items {
    width: 100%;
    
}
.footer-items h3 {
    font-size: 13px;
    font-weight: 700;
}
.footer-items li {
    list-style: none;
    font-size: 12px;
    font-weight: 700;
    opacity: 0.7;
}